@use "variables" as *;
@use "mixins" as *;

html,
body,
section,
article,
header,
main,
nav,
main,
h1,
h2,
h3,
img,
ul,
li,
footer {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir Next";
  src: url(/assets/Font/AvenirNextLTPro-Bold.otf);
  src: url(/assets/Font/AvenirNextLTPro-Demi.otf);
  src: url(/assets/Font/AvenirNextLTPro-Regular.otf);
}

body {
  font-family: $font-family;
}

.button {
  width: 100%;
  padding: $padding-s;
  background-color: $primary-color-black;
  color: $primary-color-white;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $cta-hover-color;
  }
  @include tablet {
    padding: $padding-s $padding-lg;
  }
}
