html,
body,
section,
article,
header,
main,
nav,
main,
h1,
h2,
h3,
img,
ul,
li,
footer {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir Next";
  src: url(/assets/Font/AvenirNextLTPro-Bold.otf);
  src: url(/assets/Font/AvenirNextLTPro-Demi.otf);
  src: url(/assets/Font/AvenirNextLTPro-Regular.otf);
}
body {
  font-family: "Avenir Next", sans-serif;
}

.button {
  width: 100%;
  padding: 24px;
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .button {
    padding: 24px 64px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  padding-top: 24px;
  width: 100%;
}
.header__nav {
  background-color: #323232;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
}
@media screen and (min-width: 768px) {
  .header__nav {
    padding-left: 48px;
  }
}
.header__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    justify-content: flex-start;
  }
}
.header__list-item {
  width: 50%;
  padding: 24px;
  text-align: center;
}
.header__list-item--active {
  font-size: 1.25rem;
  line-height: 22px;
  font-weight: 700;
  padding-top: 24px;
  padding-bottom: 16px;
  font-family: "Avenir Next", sans-serif;
  border-bottom: 5px solid #FFFFFF;
}
.header__list-item:hover, .header__list-item:active {
  font-size: 1.25rem;
  line-height: 22px;
  font-weight: 700;
  padding-top: 24px;
  padding-bottom: 16px;
  font-family: "Avenir Next", sans-serif;
  border-bottom: 5px solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .header__list-item {
    display: flex;
    justify-content: center;
    width: 30%;
  }
}
.header__link {
  color: #FFFFFF;
  font-size: 1.5rem;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    font-family: "Avenir Next", sans-serif;
    flex-direction: row;
    padding-left: 24px;
  }
}
.header__logo {
  width: 14rem;
  padding: 24px;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  min-height: 200px;
  max-height: 600px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
}
.hero__title {
  color: #FFFFFF;
  font-size: 3.75rem;
  line-height: 32px;
  font-weight: 700;
  font-family: "Avenir Next", sans-serif;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about {
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
    font-family: "Avenir Next", sans-serif;
    justify-content: center;
    align-items: center;
  }
}
.about__title {
  text-align: left;
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 700;
  font-family: "Avenir Next", sans-serif;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
    font-family: "Avenir Next", sans-serif;
    align-self: flex-start;
    padding-bottom: 24px;
  }
}
.about__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__img {
    justify-content: center;
    width: 80%;
  }
}
.about__quote {
  text-align: left;
  font-size: 1.25rem;
  line-height: 22px;
  font-weight: 700;
  padding-top: 24px;
  padding-bottom: 16px;
  font-family: "Avenir Next", sans-serif;
}
@media screen and (min-width: 768px) {
  .about__quote {
    font-size: 1.5rem;
    line-height: 32px;
    font-weight: 600;
    font-family: "Avenir Next", sans-serif;
    width: 80%;
  }
}
.about__subtitle {
  text-align: left;
  font-size: 1.25rem;
  line-height: 22px;
  font-weight: 700;
  padding-top: 24px;
  padding-bottom: 16px;
  font-family: "Avenir Next", sans-serif;
}
@media screen and (min-width: 768px) {
  .about__subtitle {
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
    font-family: "Avenir Next", sans-serif;
    justify-content: center;
    width: 80%;
  }
}
.about__copy {
  text-align: left;
}
@media screen and (min-width: 768px) {
  .about__copy {
    font-size: 1rem;
    line-height: 32px;
    font-weight: 400;
    font-family: "Avenir Next", sans-serif;
    justify-content: center;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.about__para {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
}
@media screen and (min-width: 768px) {
  .about__para {
    font-size: 1rem;
    line-height: 32px;
    font-weight: 400;
    font-family: "Avenir Next", sans-serif;
    width: 48%;
  }
}

.photo-gallery {
  padding: 24px;
  background-color: #FAFAFA;
}
.photo-gallery__title {
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 700;
  font-family: "Avenir Next", sans-serif;
  text-align: left;
  align-self: flex-start;
}
@media screen and (min-width: 768px) {
  .photo-gallery__title {
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
    font-family: "Avenir Next", sans-serif;
  }
}
.photo-gallery__images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .photo-gallery__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.photo-gallery__img {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .photo-gallery__img {
    width: 30%;
  }
}

.comment__section {
  padding: 48px;
}
.comment__section__title {
  font-family: "Avenir Next", sans-serif;
  font-weight: 700;
  margin-bottom: 36px;
  color: #323232;
}
.comment__section__container {
  margin-top: 36px;
}

.comment {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: 0 auto;
  padding: 24px;
  max-width: 800px;
}
.comment__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
}
.comment__avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #E1E1E1;
  margin-right: 1.5rem;
}
.comment__timestamp {
  font-family: "Avenir Next", sans-serif;
  font-size: 0.75rem;
  color: #AFAFAF;
  margin: 0;
}
.comment__post {
  display: flex;
  flex-direction: row;
}
.comment__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  border-bottom: 1px solid #E1E1E1;
}
.comment__content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment__content-header h3 {
  font-family: "Avenir Next", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #323232;
  margin: 0;
}
.comment__content-text {
  font-family: "Avenir Next", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #323232;
  margin: 0;
}
.comment__delete-button {
  width: 100%;
  padding: 24px;
  background-color: #E1E1E1;
  color: #323232;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.comment__delete-button:hover {
  background-color: #000000;
  color: #AFAFAF;
}
@media screen and (min-width: 768px) {
  .comment__delete-button {
    padding: 24px 64px;
  }
}

.comment {
  flex-grow: 1;
}
.comment__title {
  font-size: 1.5rem;
  line-height: 32px;
  font-weight: 700;
  font-family: "Avenir Next", sans-serif;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .comment__title {
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
    font-family: "Avenir Next", sans-serif;
  }
}
.comment__form {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.comment__label {
  font-size: 0.75rem;
  line-height: 20px;
  font-weight: 700;
  font-family: "Avenir Next", sans-serif;
  color: #AFAFAF;
}
.comment__input, .comment__textarea {
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  background-color: #FAFAFA;
}
.comment__input:focus, .comment__textarea:focus {
  border-color: #323232;
  outline: none;
}
.comment__input:active, .comment__textarea:active {
  border-color: #000000;
  outline: none;
}
.comment__textarea {
  resize: none;
}
.comment__button {
  background-color: #323232;
  color: #FFFFFF;
  border: none;
  padding: 12px 32px;
  font-weight: 700;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}
.comment__button:hover {
  background-color: black;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 24px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
}
.footer__article {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__contact {
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
}
.footer__title {
  font-size: 44px;
  line-height: 44px;
  font-weight: 700;
  font-family: "Avenir Next", sans-serif;
  padding-bottom: 24px;
}
.footer__companies {
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
}
@media screen and (min-width: 768px) {
  .footer__companies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__company {
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
}
.footer__company-name {
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
}
.footer__company-email {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
}
.footer__social {
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .footer__social {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__icon {
  height: 2rem;
}
.footer__logo {
  width: 14rem;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    visibility: visible;
  }
}
.footer__logo-mobile {
  width: 14rem;
  padding-top: 24px;
}
@media screen and (min-width: 768px) {
  .footer__logo-mobile {
    visibility: hidden;
  }
}
.footer__copyright {
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
}
.footer__copyright__copy {
  text-align: left;
}/*# sourceMappingURL=bio.css.map */