@use "partials/global" as *;
@use "partials/variables" as *;
@use "partials/mixins" as *;

.header {
  display: flex;
  flex-direction: column;   
  align-items: center;
  background-color: $primary-color-black;
  padding-top: $padding-s;

  @include tablet {
    @include page-header;
    flex-direction: row;
    padding-left: $padding-s;
    }

  &__logo {
    width: 14rem;
  }

  &__nav {
    background-color: $primary-color-black; 
    margin: 0;
    display: flex;      
    flex-direction: row;
    justify-content: space-around; 

    @include tablet
    {
      padding-left: $padding-m;
    }

    @include mobile-body; 

    &__list {
      list-style-type: none; 
      display: flex;      
      flex-direction: row;
      justify-content: space-around; 

      &__item {
        padding: $padding-s; 

        &__link {
          color: $primary-color-white; 
          font-size: $mobile-section-header-font-size;
          text-decoration: none; 
        }

        &:hover,  
        &:active {
          @include mobile-subheader; 
          border-bottom: 5px solid $primary-color-white; 
        }
      }
    }
  }
}


.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  min-height: 200px;
  max-height: 600px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: $padding-s;

  &__title {
    color: $primary-color-white;
    @include mobile-page-header;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: $padding-s;
  text-align: center;

  @include tablet {
    @include section-header;
    justify-content: center;
    align-items: center;

  }
  

  &__quote {
    text-align: left;
    @include mobile-subheader;
    @include tablet {
      @include subheader;
  width: 80%;

    }
  }

  &__title {
    text-align: left;
    @include mobile-section-header;

    @include tablet {
      @include section-header;
     align-self: flex-start;
     padding-bottom: $padding-s;
    }

  }
  &__img {
    @include tablet {
      justify-content: center;
      width: 80%;
    }
  }
  &__subtitle {
    text-align: left;
    @include mobile-subheader;

    @include tablet {
      @include section-header;
      justify-content: center;
      width: 80%;
    }
  }

  &__copy {
    text-align: left;

    @include tablet {
      @include body;
      justify-content: center;
      width: 80%;
    }
    &__para {
      @include mobile-body;
      @include tablet {
        @include body;
        width: 48%;
      }
    }

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.photo-gallery {
  padding: $padding-s;
  background-color: $secondary-color-alabaster ;

  &__title {
    @include mobile-section-header;
    text-align: left;
    align-self: flex-start;

    @include tablet {
      @include section-header;
    }
  }
  &__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img {
      width: 100%;
      padding-top: 16px;
      padding-bottom: 16px;

      @include tablet {
        width: 30%;
      }
    }

    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.footer {
  background-color: $primary-color-black;
  color: $primary-color-white;
  padding: $padding-s;
  display: flex;
  flex-direction: column;
  font-size: $mobile-subheader-font-size;
  @include mobile-footer;

  &__contact {
    @include mobile-footer;

    &__title {
      @include mobile-footer;
    }

    &__companies {
      @include mobile-footer;

      @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      &__company {
        @include mobile-footer;

        &__name {
          @include mobile-footer;
        }

        &__details {
          @include mobile-footer;
        }

        &__email {
          color: $primary-color-white;
          text-decoration: none;
          @include mobile-footer;
        }
      }
    }

    &__social {
      &__icon {
        width: 10rem;
        padding-right: $padding-s;
      }
    }
  }

  &__logo {
    width: 9.375rem;
  }
}
