html,
body,
section,
article,
header,
main,
nav,
main,
h1,
h2,
h3,
img,
ul,
li,
footer {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir Next";
  src: url(/assets/Font/AvenirNextLTPro-Bold.otf);
  src: url(/assets/Font/AvenirNextLTPro-Demi.otf);
  src: url(/assets/Font/AvenirNextLTPro-Regular.otf);
}
body {
  font-family: "Avenir Next", sans-serif;
}

.button {
  width: 100%;
  padding: 24px;
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .button {
    padding: 24px 64px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  padding-top: 24px;
  width: 100%;
}
.header__nav {
  background-color: #323232;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
}
@media screen and (min-width: 768px) {
  .header__nav {
    padding-left: 48px;
  }
}
.header__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    justify-content: flex-start;
  }
}
.header__list-item {
  width: 50%;
  padding: 24px;
  text-align: center;
}
.header__list-item--active {
  font-size: 1.25rem;
  line-height: 22px;
  font-weight: 700;
  padding-top: 24px;
  padding-bottom: 16px;
  font-family: "Avenir Next", sans-serif;
  border-bottom: 5px solid #FFFFFF;
}
.header__list-item:hover, .header__list-item:active {
  font-size: 1.25rem;
  line-height: 22px;
  font-weight: 700;
  padding-top: 24px;
  padding-bottom: 16px;
  font-family: "Avenir Next", sans-serif;
  border-bottom: 5px solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .header__list-item {
    display: flex;
    justify-content: center;
    width: 30%;
  }
}
.header__link {
  color: #FFFFFF;
  font-size: 1.5rem;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    font-family: "Avenir Next", sans-serif;
    flex-direction: row;
    padding-left: 24px;
  }
}
.header__logo {
  width: 14rem;
  padding: 24px;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Images/Photo-gallery-3.jpg);
  background-size: cover;
  background-position: center;
  min-height: 200px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  color: #FFFFFF;
}
.hero__tile {
  display: flex;
  flex-direction: column;
  padding-right: 48px;
}
@media screen and (min-width: 768px) {
  .hero__tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1028px) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.hero__title {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 64px;
  font-size: 3.75rem;
  line-height: 32px;
  font-weight: 700;
  font-family: "Avenir Next", sans-serif;
}
.hero__title--line {
  padding: 24px 0;
}
.hero iframe {
  width: 80%;
}
@media screen and (min-width: 768px) {
  .hero iframe {
    width: 50%;
  }
}

.shows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  align-items: center;
}
@media screen and (min-width: 1028px) {
  .shows {
    margin: 2.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .shows {
    display: flex;
    flex-direction: c;
    align-items: center;
  }
}
.shows__title {
  font-size: 44px;
  line-height: 44px;
  font-weight: 700;
  font-family: "Avenir Next", sans-serif;
  padding: 24px 24px 24px 0;
  margin: 1rem 1rem 1rem 0;
  align-self: flex-start;
}
.shows__table {
  width: 100%;
  border-collapse: collapse;
  margin: 24px 0;
}
@media screen and (min-width: 1028px) {
  .shows__table {
    width: 70%;
  }
}
.shows__head--tablet {
  height: 0;
  padding: 0;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .shows__head--tablet {
    visibility: visible;
  }
}
.shows__header {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
  text-align: left;
  padding: 16px;
  color: #AFAFAF;
  text-transform: uppercase;
}
.shows__header--tablet {
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .shows__header--tablet {
    visibility: visible;
  }
}
.shows__header--mobile {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .shows__header--mobile {
    visibility: hidden;
  }
}
.shows__row {
  background-color: #FFFFFF;
}
.shows__row--tablet {
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .shows__row--tablet {
    visibility: visible;
  }
}
.shows__row:hover {
  background-color: #FAFAFA;
}
.shows__row:active {
  background-color: #E1E1E1;
}
.shows__body {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .shows__body {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.shows__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #E1E1E1;
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .shows__row {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}
.shows__data {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
  color: #323232;
  padding: 16px;
}
.shows__data--date {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
  font-weight: bolder;
}
@media screen and (min-width: 768px) {
  .shows__data {
    flex: 1;
  }
}
.shows__action {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
}
.shows__button {
  text-transform: uppercase;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 24px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
}
.footer__article {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__contact {
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
}
.footer__title {
  font-size: 44px;
  line-height: 44px;
  font-weight: 700;
  font-family: "Avenir Next", sans-serif;
  padding-bottom: 24px;
}
.footer__companies {
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
}
@media screen and (min-width: 768px) {
  .footer__companies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__company {
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
}
.footer__company-name {
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
}
.footer__company-email {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
}
.footer__social {
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .footer__social {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__icon {
  height: 2rem;
}
.footer__logo {
  width: 14rem;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    visibility: visible;
  }
}
.footer__logo-mobile {
  width: 14rem;
  padding-top: 24px;
}
@media screen and (min-width: 768px) {
  .footer__logo-mobile {
    visibility: hidden;
  }
}
.footer__copyright {
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
}
.footer__copyright__copy {
  text-align: left;
}/*# sourceMappingURL=shows.css.map */