html,
body,
section,
article,
header,
main,
nav,
main,
h1,
h2,
h3,
img,
ul,
li,
footer {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir Next";
  src: url(/assets/Font/AvenirNextLTPro-Bold.otf);
  src: url(/assets/Font/AvenirNextLTPro-Demi.otf);
  src: url(/assets/Font/AvenirNextLTPro-Regular.otf);
}
button {
  background-color: #323232;
  color: #FFFFFF;
  padding: 24px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  align-self: flex-end;
}
button:hover {
  background-color: #000000;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  padding-top: 24px;
  width: 100%;
}
.header__nav {
  background-color: #323232;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .header__nav {
    padding-left: 48px;
  }
}
.header__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    justify-content: flex-start;
  }
}
.header__list-item {
  width: 50%;
  padding: 24px;
  text-align: center;
}
.header__list-item--active {
  font-size: 1.25rem;
  line-height: 22px;
  font-weight: 700;
  padding-top: 24px;
  padding-bottom: 16px;
  border-bottom: 5px solid #FFFFFF;
}
.header__list-item:hover, .header__list-item:active {
  font-size: 1.25rem;
  line-height: 22px;
  font-weight: 700;
  padding-top: 24px;
  padding-bottom: 16px;
  border-bottom: 5px solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .header__list-item {
    display: flex;
    justify-content: center;
    width: 30%;
  }
}
.header__link {
  color: #FFFFFF;
  font-size: 1.5rem;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    flex-direction: row;
    padding-left: 24px;
  }
}
.header__logo {
  width: 14rem;
  padding: 24px;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Images/Photo-gallery-3.jpg);
  background-size: cover;
  background-position: center;
  min-height: 200px;
  max-height: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  color: #FFFFFF;
}
.hero__title {
  color: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 64px;
  font-size: 3.75rem;
  line-height: 32px;
  font-weight: 700;
}
.hero iframe {
  width: 80%;
}
@media screen and (min-width: 768px) {
  .hero iframe {
    width: 50%;
  }
}

.shows {
  margin: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .shows {
    display: flex;
    flex-direction: row;
    justify-content: space;
  }
}
.shows__title {
  padding-bottom: 64px;
}

.show-item {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .show-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.show-item h2,
.show-item p {
  padding-right: 64px;
  display: flex;
  align-self: flex-start;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 24px;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 24px;
  font-weight: 400;
}
.footer__article {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__contact {
  font-size: 1.2rem;
  line-height: 24px;
  font-weight: 400;
}
.footer__title {
  font-size: 44px;
  line-height: 44px;
  font-weight: 700;
  padding-bottom: 24px;
}
.footer__companies {
  font-size: 1.2rem;
  line-height: 24px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer__companies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__company {
  font-size: 1.2rem;
  line-height: 24px;
  font-weight: 400;
}
.footer__company-name {
  font-size: 1.2rem;
  line-height: 24px;
  font-weight: 400;
}
.footer__company-email {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 24px;
  font-weight: 400;
}
.footer__social {
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .footer__social {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__icon {
  height: 2rem;
}
.footer__logo {
  width: 14rem;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    visibility: visible;
  }
}
.footer__logo-mobile {
  width: 14rem;
  padding-top: 24px;
}
@media screen and (min-width: 768px) {
  .footer__logo-mobile {
    visibility: hidden;
  }
}
.footer__copyright {
  font-size: 1.2rem;
  line-height: 24px;
  font-weight: 400;
}
.footer__copyright__copy {
  text-align: left;
}/*# sourceMappingURL=shows.css.map */